<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honey.tracing.example.mapper.PeopleMapper">
    <resultMap id="peopleResultMap" type="com.honey.tracing.example.entity.People">
        <id property="id" column="id"/>
        <result property="peopleName" column="p_name"/>
        <result property="peopleAge" column="p_age"/>
    </resultMap>

    <select id="selectOne" resultMap="peopleResultMap">
        SELECT
            p.id,
            p.p_name,
            p.p_age
        FROM
            people p
        WHERE
            p.p_name=#{peopleName}
        AND
            p.p_age=#{peopleAge}
    </select>

</mapper>